<% toolbar :option => :media %>
<% content_for :title do%>
  <%= current_subject.name %>
<% end%>
<% content_for :sidebar do %>
  <%= render :partial => 'home/sidebar' %>
<% end %>

<%= location(
  link_to(image_tag("btn/btn_photo.png", :class => "menu_icon")+ "photos", photos_path)
) %>

<br class="clearfloat" />

<div id="conversation">
  <h2>New Photo</h2>
  <%= render 'form' %>
  <div style="float:right; padding-right: 30px;">
    <%= link_to 'All photos', photos_path %>
  </div>
</div>