<% toolbar :option => :media %>
<% content_for :title do%>
  <%= current_subject.name %>
<% end%>
<% content_for :sidebar do %>
  <%= render :partial => 'home/sidebar' %>
<% end %>

<%= location(
  link_to(image_tag("btn/btn_music.gif", :class => "menu_icon")+ "Musics", musics_path)
) %>

<br class="clearfloat" />

<div id="conversation">
  <h2>Editing Music</h2>
  <%= render 'form' %>
  <div style="float:right; padding-right: 30px;">
    <%= link_to 'Show', @music %> |
    <%= link_to 'All Musics', musics_path %>
  </div>
</div>

